@page
@model IndexModel
@{
    ViewData["Title"] = "LaunchDarkly .NET SDK";
}

<div class="text-center">
    <h1 class="display-4">LaunchDarkly .NET SDK Example</h1>
    <p>Learn about the LaunchDarkly .NET server-side SDK!</p>
    <p>Flag Value: @ViewData["flagval"]</p>
</div>
